body {
  background-color: #343a40;
  text-align: center;
}

.text {
  color: #e98208;
  font-size: 40px;
  margin: 5px 0;
  padding: 0;
}

h1,h2 {
  color: #e98208;
  font-size: 40px;
  margin: 5px 0;
  padding: 0;
}